<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>451864956310-hqma90au5q9emmh3bctbqorv7iindv3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451864956310-hqma90au5q9emmh3bctbqorv7iindv3c</string>
	<key>API_KEY</key>
	<string>AIzaSyBCI2MKSJpmsSVTExkzGNQ9F6BFIL9I2EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>451864956310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.mprog.Project</string>
	<key>PROJECT_ID</key>
	<string>project-cf8ad</string>
	<key>STORAGE_BUCKET</key>
	<string>project-cf8ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:451864956310:ios:280cc6366bb63a4e</string>
	<key>DATABASE_URL</key>
	<string>https://project-cf8ad.firebaseio.com</string>
</dict>
</plist>